

{{ $root := (.Site.GetPage "section" .Type) }}
<nav class="page-nav">
    <div class="nav-item">
        <span class="title">{{ $root.Title }}</span>
    </div>
    <div class="nav-items">
    {{ template "page-tree" (dict "cur" $root "depth" 0)}}
    </div>
</nav>

{{ define "page-tree" }}
    {{ $cur := .cur }}
    {{ $depth := .depth }}
    {{ range $cur.Pages }}
    <ul>
        <li class="">
            <div class="nav-item tile flex-row z1 f-space-between">
                <a class="stretched-link" href="{{ .RelPermalink }}"></a>
                <span class="title">{{ .Title }}</span>
                {{ if .Params.Collapsible }}
                <span class="collapse-button" data-target="">
                    <svg class="nav-item-button-icon" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                        stroke="currentColor"><g><polyline points="9 18 15 12 9 6"></polyline></g></svg>
                </span>
                {{ end }}
            </div>
                
            {{ if .Params.Collapsible }}
            <div class="nav-item-childs">
                {{ template "page-tree" (dict "cur" . "depth" 1)}}
            </div>
            {{ end }}
        </li>
    </ul>
    {{ end }}
{{ end }}

