:root {
    --max-width: 800px;
    --color-bg-primary: rgba(0, 0, 0);
    --color-bg-secondary: rgba(255, 255, 255, 0.1);
    --color-text-primary: rgb(216, 216, 216);
    --color-text-secondary: rgb(255, 255, 255);
    --color-text-tertiary:rgb(159, 186, 221);
    --color-text-link:rgb(159, 193, 236);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
}

p {
    margin: 0.5em 0;
    line-height: 160%;
}

a:link,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: var(--color-text-link);
}

a:hover {
    text-decoration: none;
    color: var(--color-text-secondary);
}