.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.content h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.5em;
}
.content h2 {
    font-size: 1.5em;
}
.content h3 {
    font-size: 1.2em;
}
.content h4 {
    font-size: 1em;
}

pre {
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(210, 210, 210);
    margin: 1em 0;
    padding: 1em;
    background-color: var(--color-bg-secondary);
    line-height: 140%;
}

code {
    
}