.masthead {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-secondary);
}
.mh-inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mh-item {
    min-width: 30px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.mh-item.selected,
.mh-item:hover {
    color: var(--color-text-secondary);
}

.mh-logo {
    display: flex;
}

.mh-logo .avatar {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 7px;
}

.mh-logo a{
    color: var(--color-primary);
}

.mh-menu {
}

.mh-menu ul, .mh-menu li{
    display: flex;
    list-style: none;
}