#post-header > *, #post-article > * {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

#post-header {
    background-color: rgb(39, 91, 160);
    padding-top: 6em;
    padding-bottom: 2em;
}

#post-header .post-title {
    font-size: 2em;
    font-weight: bold;
    color: rgba(255, 255, 255);
}

#post-header .post-date {
    font-family: "Ubuntu Mono";
    padding-bottom: 10px;
    color: rgb(200, 200, 200);
}

#post-article {
    padding-top: 3em;
    padding-bottom: 3em;
}