:root {
    --max-width: 800px;
}

@media (max-width: 840px) {
    :root {
        --max-width: 95%;
    }
}

.thm-light {
    --color-bg: rgba(255, 255, 255);
    --color-bg-secondary: rgb(245, 245, 245);
    --color-bg-hover: rgb(240, 240, 240);
    --color-text-primary: rgb(80, 80, 80);
    --color-text-link:rgb(39, 91, 160);
    --color-text-link-hover:rgb(0, 0, 0);
    --color-border: rgb(200, 200, 200);
    
    color: var(--color-text-primary);
    background-color: var(--color-bg);
}

.thm-dark {
    --color-bg: rgb(26,26,26);
    --color-bg-secondary: rgb(36, 36, 36);
    --color-bg-hover: rgb(46, 46, 46);
    --color-text-primary: rgb(221, 221, 221);
    --color-text-link:rgb(140, 181, 235);
    --color-text-link-hover:rgb(255, 255, 255);
    --color-border: rgb(46, 46, 46);
    
    color: var(--color-text-primary);
    background-color: var(--color-bg);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeLegibility;
}

main {
}

p {
    margin: 0.5em 0;
    line-height: 160%;
}

a:link,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: var(--color-text-link);
}

a.no-color-link {
    color: var(--color-text-primary);
}

a:hover, a.selected {
    text-decoration: none;
    color: var(--color-text-link-hover);
}


/*                   */
.wrapper {
    width: 100%;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

/*      Masthead      */
#masthead {
    display: flex;
    justify-content: center;
    align-items: center;
}
#masthead .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.mh-item {
    min-width: 30px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.mh-logo {
    display: flex;
}

.mh-logo .avatar {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 7px;
}

.mh-menu ul, .mh-menu li{
    display: flex;
    list-style: none;
}

/*      Footer      */
footer {
    min-height: 50px;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: small;
    height: 100%;
}


/*                  */
.aboutme {
    background-color: var(--color-bg-secondary);
    
    padding-top: 10vh;
    padding-bottom: 20px;
}
.projects {
    background-color: var(--color-bg);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.projects .project + .project {
    border-top: 1px solid var(--color-border);
}

.project {
    display: block;
    overflow:auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-image {
    float: right;
    max-width: 180px;
}