<header id="masthead" class="thm-dark z5">
    <div class="wrapper">
        <nav class="mh-menu">
            <ul>
                <li>
                    <div class="mh-logo">
                        <img class="avatar" src="{{ .Site.Params.Author.avatar }}" alt="avatar" />
                        <a href="{{ .Params.BaseURL }}" class="text mh-item no-color-link">{{ .Site.Params.Author.name }}</a>
                    </div>
                </li>
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                <li>
                    <a class='mh-item no-color-link {{ if or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}selected{{ end }}' href="{{ .URL }}">{{ safeHTML .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <nav class="mh-settings">
            <a class="mh-item no-color-link" href="#">Setting</a>
        </nav>
    </div>
</header>